# Dependencies
node_modules

# Build output
.next
out
build

# Version control
.git
.gitignore

# IDE / Editor
.vscode
.idea
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Tests & Coverage
coverage
src/tests

# Documentation
README.md
CONTRIBUTING.md

# CI/CD
.github

# Misc
*.md
tsconfig.tsbuildinfo
